.git
.gitattributes
.gitignore

.env
.env.*
!.env.example
.venv
env
venv

.cache
.pre-commit
.pytest_cache
.ruff_cache
.coverage
htmlcov

__pycache__
*$py.class
*.egg-info
*.py[cod]
build
dist

*.log
logs

.husky
node_modules
npm-debug.log*
package-lock.json
package.json
yarn-debug.log*
yarn-error.log*

.agent
.agents
.antigravity
.cursor
.gemini

*.swp
*.swo
.DS_Store
.idea
.vscode
desktop.ini
Thumbs.db

docs
.github
infra/kubernetes
infra/terraform
linters
Makefile
README.md

app/tests
app/scripts
app/tools
app/requirements.txt
app/requirements-dev.txt
app/pyproject.toml
app/.python-version

app/src/domain/world-data
app/src/infrastructure/logging
app/src/infrastructure/database
app/src/interface/mods/*.jar
app/src/interface/plugins/*.jar
