MINECRAFT_VERSION=<insira_aqui_sua_versao_minecraft>
SERVER_TYPE=<insira_aqui_seu_tipo_de_servidor>
MEMORY_LIMIT=<insira_aqui_seu_limite_de_memoria>
EULA_ACCEPTED=<insira_aqui_true_para_aceitar_o_eula>

GAME_PORT=<insira_aqui_sua_porta_do_jogo>
RCON_PORT=<insira_aqui_sua_porta_rcon>

ONLINE_MODE=<insira_aqui_online_mode_true_ou_false>
DIFFICULTY=<insira_aqui_sua_dificuldade>
MAX_PLAYERS=<insira_aqui_numero_maximo_de_jogadores>

RCON_PASSWORD=<insira_aqui_sua_senha_rcon>
