MINECRAFT_VERSION=<insira_aqui_sua_versao_minecraft>
SERVER_TYPE=<insira_aqui_seu_tipo_de_servidor>
MEMORY_LIMIT=<insira_aqui_seu_limite_de_memoria>
EULA_ACCEPTED=<insira_aqui_true_para_aceitar_o_eula>

GAME_PORT=<insira_aqui_sua_porta_do_jogo>
RCON_PORT=<insira_aqui_sua_porta_rcon>

ONLINE_MODE=false
WHITE_LIST=<insira_aqui_white_list_true_ou_false>
ENFORCE_WHITELIST=<insira_aqui_enforce_whitelist_true_ou_false>
MINECRAFT_WHITELIST=AnonymousNoobz

DIFFICULTY=<insira_aqui_sua_dificuldade>
MAX_PLAYERS=<insira_aqui_numero_maximo_de_jogadores>

RCON_PASSWORD=<insira_aqui_sua_senha_rcon>

UID=<insira_aqui_uid_do_container>
GID=<insira_aqui_gid_do_container>
SKIP_CHOWN=<insira_aqui_skip_chown_true_ou_false>

DOCKER_BASE_IMAGE=<insira_aqui_imagem_base_docker>
IMAGE_VERSION=<insira_aqui_versao_da_imagem>
DOCKER_PIDS_LIMIT=<insira_aqui_limite_de_pids>
